@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazirmatn-Regular.ttf");
}

.vazir {
  font-family: "Vazir";
}

#root {
  min-height: 100vh;
}

#text { 
  display: none;
}

img {
  display: block;
}

body {

  background-color: white;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

}

.rtl * {
  direction: rtl !important;
  text-align: right !important;
  font-family: "Vazir";
}

.ql-editor {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}


.ql-editor.rtl * {
  direction: rtl !important;
  text-align: right !important;
  font-family: "Vazir";
}

.ql-editor.ltr * {
  direction: ltr;
  text-align: left;

}

.ql-editor.rtl li {
  padding-right: 1em;
  padding-left: 0;
}

/* .ql-editor.rtl li::after, */
.ql-editor.rtl li::before {
  margin-left: 0rem;
}

