@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* hide scrollbar for chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazirmatn-Regular.ttf");
}

#root {
  min-height: 100vh;
}

img {
  display: block;
}

body {

  background-color: #ccc;
  min-height: 100vh;

}